@import '~antd/dist/antd.css';


.ant-input-group-wrapper {
  margin: 0 9%;
  width: 82%;
}

.ant-list {
  margin: 0 5%;
}

.ant-list-item {
  padding: 4px 0;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
  border-radius: 0 40px 40px 0;
}

.ant-input-group {
  border-radius: 40px;
}

.ant-card {
  margin: 3% 10%;
  padding: 2px;
  background: transparent;
  border-radius: 40px;
}